DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=1234
DB_NAME=sistema_alerta
JWT_SECRET=your-secret-key-here
PORT=5005

EMAIL_USER=rmontufarm@unamad.edu.pe
EMAIL_PASSWORD=amdc slmm hfyg lgva
FRONTEND_URL=http://localhost:5175
BACKEND_URL=http://localhost:5005